
<div ng-show = "!navigating" class="search-box">
    <input class="search-input" ng-change= "search()" ng-model="query" type="text" name="search" placeholder="search">
</div>

<!-- Hides search results upon click of "Go" -->
<div ng-hide = "navigating" class="search-results">
    <!-- <li ng-repeat="result in results">{{result.name}}
    </li> -->
    <div class="search-result" ng-repeat="result in results">
        <!-- <div class="icon" ng-switch="result.type">
            <i ng-switch-when="restaurant" class="fa fa-cutlery" aria-hidden="true"></i>
            <i ng-switch-when="gate" class="fa fa-plane" aria-hidden="true"></i>
            <i ng-switch-when="restroom" class="fa fa-male" aria-hidden="true"></i>
            <i ng-switch-when="retail" class="fa fa-shopping-bag" aria-hidden="true"></i>
            <i ng-switch-when="train" class="fa fa-subway" aria-hidden="true"></i>
            <i ng-switch-when="baggage-claim" class="fa fa-suitcase" aria-hidden="true"></i>
        </div> -->
        <div class="icon">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
        </div>
        <div class="result">
            <p class="result-name">{{result.name}}</p>
            <p class="result-concourse">Concourse: {{result.concourse}}</p>
        </div>
        <div class="time">
            <p>({{result.time}})</p>
        </div>
        <div class="go" ng-click="startRoute(result)">
            <p>GO</p>
        </div>
    </div>
</div>
<!-- //Hidden header for displaying step by step directions -->
<div ng-show="navigating" class="directions_container">
    <h1>{{step_by_step}}</h1>
</div>
<!-- <button type="button" name="button" ng-click="getLocation()">Console Log Location</button> -->
<div class="map_container">
<leaflet id="map" lf-center="center" defaults="defaults" controls="controls" width="100%"></leaflet>
</div>

<!-- //Hidden footer for displaying time until destination -->
<div ng-show = "navigating" class="footer">
    <h1>{{time_left}} min</h1>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        var searchheight = 0;
        searchheight = $('.search-box').height();
        $(".search-results").css('top', searchheight);
    });
    $(window).resize(function (){
        var searchheight = 0;
        searchheight = $('.search-box').height();
        $(".search-results").css('top', searchheight);
    });
</script>
