
<div ng-show = "!navigating" class="search-box">
    <input class="search-input" ng-change= "search()" ng-model="query" type="text" name="search" placeholder="Where to? (A30, Starbucks)">
</div>

<!-- Hides search results upon click of "Go" -->
<div ng-hide = "navigating" ng-if="show_results" class="search-results">
    <div class="search-result" ng-repeat="result in results | orderBy: ['-s_index', '-time']: true | limitTo: 50 track by $index">
        <div class="icon" ng-switch="result.poi_type">
            <i ng-switch-when="restaurant" class="fa fa-cutlery" aria-hidden="true"></i>
            <i ng-switch-when="gate" class="fa fa-plane" aria-hidden="true"></i>
            <i ng-switch-when="toilet" class="fa fa-male" aria-hidden="true"></i>
            <i ng-switch-when="retail" class="fa fa-shopping-bag" aria-hidden="true"></i>
            <i ng-switch-when="station" class="fa fa-subway" aria-hidden="true"></i>
            <i ng-switch-when="baggage-claim" class="fa fa-suitcase" aria-hidden="true"></i>
            <i ng-switch-when="coffee" class="fa fa-coffee" aria-hidden="true"></i>
            <i ng-switch-when="concourse" class="fa fa-plane" aria-hidden="true"></i>
            <i ng-switch-when="fast_food" class="fa fa-cutlery" aria-hidden="true"></i>
        </div>
        <div class="result">
            <p class="result-name">{{result.name}}</p>
            <p class="result-concourse">Concourse {{result.concourse}}</p>
        </div>
        <div class="time">
            <p>({{result.time}} min)</p>
        </div>
        <div class="go" ng-click="startRoute(result)">
            <p>GO</p>
        </div>
    </div>
</div>
<!-- //Hidden header for displaying step by step directions -->
<div ng-show="navigating" class="directions_container">
    <div>Continue Straight</div>
</div>
<!-- <button type="button" name="button" ng-click="getLocation()">Console Log Location</button> -->
<div class="map-container">
<leaflet id="map" lf-center="center" defaults="defaults" controls="controls" width="100%"></leaflet>
</div>

<!-- //Hidden footer for displaying time until destination -->
<div ng-show ="navigating" class="footer">
    <div>{{time_left}} min</div>
    <button type="button" name="button" ng-click="stopNav()">Done</button>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        var searchHeight = 0;
        searchHeight = $('.search-box').height();
        var directionsHeight = 0;
        directionsHeight = $('.directions_container').height();
        var footerHeight = 0;
        footerHeight = $('.footer').height();
        var windowWidth = 0;
        windowWidth = $(window).width();
        var windowHeight= 0;
        windowHeight = $(window).height();

        var mapHeight = windowHeight - searchHeight - directionsHeight - footerHeight;
        $(".search-results").css('top', searchHeight);
        $(".search-results").css('max-width',windowWidth);
        $(".map-container").css('height', windowHeight - searchHeight - directionsHeight - foot);
    });
    $(window).resize(function (){
        var searchHeight = 0;
        searchHeight = $('.search-box').height();
        $(".search-results").css('top', searchHeight);
    });

</script>
